In [1]:
# Data Types in Python
# By default python has strings, integer, float, boolean and complex data types

In [2]:
# Data Types in NumPy
# i - integer, b - boolean, u - unsigned integer, f - float, c - complex float, m - timedelta
# M - datetime, O - object, S - String, U - unicode string, V - fixed chunk of memory for other type ( void )

In [3]:
# Checking data types of array: dtype => return data type of an array

In [4]:
import numpy as np

In [5]:
arr = np.array([1,2,3,4,5]) # data type of an array object
print(arr.dtype)

int32

In [8]:
arr = np.array(['apple', 'banana', 'cherry']) # data type of an array containing strings
print(arr.dtype)

<U6

In [12]:
# Creating Arrays With a Defined Data Type
arr = np.array([1,2,3], dtype='S') # Create an array with data type string
print(arr)
print(arr.dtype)

[b'1' b'2' b'3']
|S1

In [13]:
arr = np.array([1,2,3], dtype='O') # Create an array with data type object
print(arr)
print(arr.dtype)

[1 2 3]
object

In [14]:
# For i, u, f, S and U we can define size as well.

In [15]:
arr = np.array([1, 2, 3, 4], dtype='i4')
print(arr)
print(arr.dtype)

[1 2 3 4]
int32

In [20]:
arr = np.array([1, 2, 3, 4], dtype='f4')
print(arr)
print(arr.dtype)

[1. 2. 3. 4.]
float32

In [21]:
# What if a Value Can Not Be Converted?
arr = np.array(['a', '2', '3'], dtype='i')

ValueError: invalid literal for int() with base 10: 'a'

In [22]:
# Converting Data Type on Existing Arrays: astype()

In [23]:
arr = np.array([1.1, 2.1, 3.1]) # change data type float to int
print(arr)
print(arr.dtype)
newArr = arr.astype("i")
print(newArr)
print(newArr.dtype)

[1.1 2.1 3.1]
float64
[1 2 3]
int32

In [24]:
arr = np.array([1.1, 2.1, 3.1]) 
newArr = arr.astype(int) # Change data type from float to integer by using int as parameter value
print(newArr)
print(newArr.dtype)

[1 2 3]
int32

In [25]:
arr = np.array([1, 1, 0]) 
newArr = arr.astype(bool) # Change data type from int to boolean by using bool as parameter value
print(newArr)
print(newArr.dtype)

[ True  True False]
bool